html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300&family=Raleway&family=Roboto:ital,wght@0,300;1,100&display=swap');

.header-top {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: #60fbbf;
  margin-bottom: 15px;
 
}



.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  font-family:'Quicksand', sans-serif;
  padding: 10px 0;
  
  
}

.pagination img {
  margin: 0 10px;
  width: 250px;
  transition: transform 0.3s ease-in-out;
}
.pagination img:hover {
  transform: scale(1.1);
  }

.boton {
  font-size: 16px;
  padding: 10px;
  border: 2px solid rgb(88, 172, 202);
  border-radius: 15px;
  color:white;
  cursor: pointer;
  background-color: #60fbbf; 
  position:relative;
  display: block;
  height: 50px;
  width: 150px;
  overflow: hidden;
  transition: all 500ms ease;

}
.boton::before {
  content:"";
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: rgb(88, 172, 202);
  transition: all 500ms ease;
  z-index: -1;
}

.boton::before{
  width: 0;
  height: 100%;
}

.boton:hover{
  animation: shadow-pulse 1000ms;
  background-color: rgb(88, 172, 202);
  color: white
}

@keyframes shadow-pulse{
  0% {
  box-shadow:0 0 0 0 rgb(88, 172, 202);
}
100%{
  box-shadow: 0 0 8px 16px rgb(88, 172, 202);
}
}

ul {  
  
  list-style: none;


}

#character-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

#character-list li {
  font-family:'Quicksand', sans-serif;
  background-color: #fff;
  border: 1px dashed  #60fbbf;
  color: rgb(88, 172, 202);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

#character-list img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

#character-list img:hover {
  transform: scale(1.1);
  }

  
  

